@font-face {
    font-family: 'playfairRegular';
    src: url('../Font/PlayfairDisplaySC-Regular.ttf');
}
body{
    box-sizing: border-box;
    margin-left: 0%;
    margin-top: 0%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #F4EFE0;
}
.menu{
    display: flex;
    justify-content: space-between;
    background-color: #2AA3B2;
    color: #F4EFE0;
    margin: 0%;
    padding: 0%;
    align-items: center;
    position: sticky;
    top: 0%;
    text-align: center;
}
a{
    color: #F4EFE0;
    font-family: 'playfairRegular';
    
}
picture{

    margin: 0%;
    padding: 0%;
}
@media (max-width:640px) {
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: 100vh;
        width: 19vw;
    }
    .container{
        flex-direction: row;
        text-align: justify;
        width: 100;
        height: 100vh;
    }
    .souscontainer{
        width: 80%;
    }
}
#intro{
    background-image: url("../images/presentation.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
    color: #F4EFE0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnContact{
    background-color: #2AA3B2;
    color: #F28C38;
}

#cardContact {
    background-color: rgba(244, 239, 224, 0.75);
    color: #6C757D;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
}