@font-face {
    font-family: 'playfairRegular';
    src: url('../Font/PlayfairDisplaySC-Regular.ttf');
}

.container-fluid{
    background-color: #2AA3B2;
    padding: 0;
}
.navbar navbar-expand-lg bg-body-tertiary{
    padding: 0;
    background-color: #2AA3B2;
}
.navbar{
    padding: 0;
    height: 5%;
    font-family: 'playfairRegular', serif;
}